

/*label {
    display: block;
    border: solid 2px green;
    width: 200px;
    height: 40px;
    margin-top: 10px;
    color: green;
    text-align: center;
    line-height: 40px;
}

<!-- hide input -->
input[type=checkbox] {
    display: none;
}

<!-- Add ? on checked before label -->
input:checked + label:before {
    content: "? ";
}

<!-- Add styling on check -->
input:checked + label {
    border: solid 2px purple;
    color: purple;
}*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.divider-text:before,
.divider-text:after {
    color: white;
    content: "";
    flex: 1;
    border-bottom: 1px solid #555;
    margin: auto 0.25rem;
    box-shadow: 0 -2px;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}