@model List<Company>

<div class="card">
    <div class="card-header bg-gradient">
        <h2> Company List </h2>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-6">

            </div>
            <div class="col-6 text-end">
                <a asp-controller="Company" asp-action="Upsert" class="btn btn-primary ">Add New Product</a>
            </div>
        </div>

        <div>
            <table id="tblData" class="table table-dark">
                <thead>
                    <tr>
                        <th> Id </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Stress Address
                        </th>
                        <th>
                            City
                        </th>
                        <th>
                            State
                        </th>
                        <th>
                            PostalCode
                        </th>
                        <th>
                            Phone Number
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>



</div>

@section Scripts{
   <script src="~/js/company.js"></script>
}