@model List<Company>

<div class="card my-3">
    <div class="card-header bg-gradient text-center py-4">
        <h2> Company List </h2>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-6">
            </div>
            <div class="col-6 text-end ">
                <a asp-controller="Company" asp-action="Upsert" class=" btn btn-primary w-50 mb-3 ">                     <i class="bi bi-plus-circle"></i>&nbsp; Add new product </a>
            </div>
        </div>

        <div>
            <table id="tblData" class="table table-dark table-bordered table-striped table-hover align-middle">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Street Address
                        </th>
                        <th>
                            City
                        </th>
                        <th>
                            State
                        </th>
                        <th>
                            PostalCode
                        </th>
                        <th>
                            Phone Number
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>



</div>

@section Scripts{
    <script src="~/js/company.js"></script>
}