@{
    ViewData["Title"] = "Home Page";
}

@model List<Product>

<div class=" row ">

    @foreach (var p in Model)
    {
        <div class="col-sm-6 col-lg-3">
            <div class="card" style="height: 300px;">
                <div class="card-img-top" style="height: 100%;">
                    <img src="@p.ImageUrl" class="img-fluid" style="object-fit: cover; height: 100%;" alt="Image">
                </div>
                <div class="card-body">@p.Title</div>
                <div class="card-body">@p.wAuthor</div>
            </div>
        </div>
    }

</div>








