@* @model OrderVM

 *@

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-12">
                <h2>Product List</h2>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-dark table-border table-striped table-hover" id="adminOrderTable">
            <thead class="">
                <tr class="">
                    <th>
                        Id
                    </th>
                    <th>
                        Name
                    </th>
                    <th> 
                        Email 
                    </th>
                    <th>
                        Phone Number
                    </th>
                    <th>
                        Order Status
                    </th>
                    <th>
                        Payment Status
                    </th>
                    <th>
                        Order Total
                    </th>
                </tr>
            </thead>


        </table>
    </div>


</div>

@section Scripts{

    <script src="~/js/order.js"></script>
}
                    