@* @model OrderVM

 *@

@{
    var status = Context.Request.Query["status"];
    var pending = "text-primary";
    var paymentpending = "";
    var inprocess = "";
    var completed = "";
    var approved = "";
    var all = "";
    var style = "active text-white";
    switch (status)
    {
        case "pending":
            pending = style;
            break;
        case "paymentpending":
            paymentpending = style;
            break;
        case "inprocess":
            inprocess = style;
            break;
        case "completed":
            completed = style;
            break;
        case "approved":
            approved = style;
            break;
        default:
            all = style;
            break;
    }

}

<div class="card">
    <div class=" card-header bg-gradient text-center py-4">
        <div class="row">
            <div class="col-12">
                <h2>Order List</h2>
            </div>
        </div>
    </div>
    <div class="card-body">

        <div class="row d-flex justify-content-end">
            <div class="col-12">
                <div class="d-flex">
                    <ul class="list-group list-group-horizontal ms-auto mb-2">
                        <li class="list-group-item @pending ">
                            <a style="text-decoration: none; color:aliceblue;" asp-area="admin" asp-controller="order" asp-action="index" asp-route-status="pending">Pending</a>
                        </li>
                        <li class="list-group-item @inprocess">
                            <a class="text-decoration-none text-white" asp-area="admin" asp-controller="order" asp-action="index" asp-route-status="inprocess">In Process</a>
                        </li>

                        <li class="list-group-item @paymentpending ">
                            <a style="text-decoration: none; color:aliceblue;" asp-area="admin" asp-controller="order" asp-action="index" asp-route-status="paymentpending">Payment Pending</a>
                        </li>
                        <li class="list-group-item @approved">
                            <a class="text-decoration-none text-white" asp-area="admin" asp-controller="order" asp-action="index" asp-route-status="approved">Approved</a>
                        </li>
                        <a style="text-decoration: none" asp-area="admin" asp-controller="order" asp-action="index" asp-route-status="completed">
                            <li class="list-group-item @completed">
                            Completed
                            </li>
                        </a>
                        <a style="text-decoration: none" asp-area="admin" asp-controller="order" asp-action="index" asp-route-status="all">
                        <li class="list-group-item @all ">
                            All
                        </li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>

        <table class="table table-dark table-border table-striped table-hover align-middle" id="adminOrderTable">
            <thead class="">
                <tr class="">
                    <th>
                        Id
                    </th>
                    <th>
                        Name
                    </th>
                    <th> 
                        Email 
                    </th>
                    <th>
                        Phone Number
                    </th>
                    <th>
                        Order Status
                    </th>
                    <th>
                        Payment Status
                    </th>
                    <th>
                        Order Total
                    </th>
                    <th></th>
                </tr>
            </thead>


        </table>
    </div>
@*     <div class="w-75 ">
        <a href="/admin/order/details?orderId=${data}" class="btn btn-primary mx-2"><i class="bi bi-layout-text-window-reverse"></i> Details</a>
    </div>  *@

</div>

@section Scripts{

    <script src="~/js/order.js"></script>
}
                    